body{margin-top: 60px; background-color: #3E3F3A;} /*saving space for navbar */
div.forminput{
   background-color: #ffffff;
   border: 1px solid #ccc;
   padding: 1px 10px 0 10px; 
   color: #A5A5A5;
   font-size: 12px;
   line-height: 1.5;
}

.nomargin{ margin: 0; }
.nomargintop{ margin-top: 0; }
.nomarginbottom{margin-bottom: 0 !important;}


.nopadding{padding: 0;}
.nopaddingleft{padding-left: 0;}
.nopaddingright{padding-right: 0;}
.nopaddingbottom{padding-bottom: 0;}
.nopaddingtop{padding-top: 0;}
.noborder{ border: 0 !important;}
.nobordertop{ border-top: 0; }
.noborderbottom{ border-bottom: 0; }
.noborderleft{ border-left: 0; }
.noborderright{ border-right: 0; }
.noborderradius{ border-radius: 0 !important;}
.nostyletype{list-style-type: none; }
.valign-middle{vertical-align:middle;}

.listpadding{padding: 10px 15px;}
div.forminput select{color: #676767;}
div.postoptions{text-align: center;}
div.postmessaggio{}
div.postdettagli{ position: relative; float: right; }
img.avataricon{ width: 16px; height: 16px;}
img.homeavatar{max-width: 100%; border-radius: 5px;}

ul.noborderright li{border-right: 0;}
ul.noborderleft li{border-left: 0;}

ol.tendenze{
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}

#frmtxt{ width: 96%; margin-left: 2%; height: 60px; resize: vertical; border: 1px solid #ccc; }

h5.tendenze, h5.panel-title, .uppercase{
font-size: 11px;
line-height: 22px;
font-weight: 500;
text-transform: uppercase;
margin-bottom: 0;
}

/* POST ICONS */
a.delpost, a.vote, a.edit, a.open, a.closepls, a.optiontoggler, span.isnotlocked{
   color: #636363;
}

a{
    color: #848484 !important;
}

.nerdz_from a{
    color: #FFFFFF !important;
}

span.islocked{ color: red; }
span.unbookmark{ color: green; }
.frmcomment textarea{ resize: vertical; }

.littleboxshadow, div.postshadow{
    box-shadow: 0 4px 2px -2px #1E1F1C;
}

div.postshadow{
    border: 0;
    border-radius: 0;
    margin-bottom: 2px;
}

div.darkbackground{
    background-color: #3E3F3A;
}

div.whitebackground{
    background-color: #FFFFFF;
}

div.transparentbackground{
    background-color: transparent; !important;
}

div.well{
    /**background-color: rgba(0, 0, 0, 0.2) !important;*/
    background-color: transparent !important;
}

.panel-default > .panel-heading{ background-color: transparent; }

.btn-default{
    background-color: #3E3F3A !important;
}

.navbar-default{
    background-color: #1E1F1C !important;
    border: 0 !important;
}

li.listaseguiti{
    display: inline;
    margin-right: 4px;
    width: 34px !important;
}

.utente-offline{
    border: 1px solid transparent;
}


.utente-online {
    border: 1px solid green;
}



.singlecomment{
    background-color: #909090 !important;
}
.singlecomment:nth-child(even){
    background-color: #616161 !important;
}

.nav-tabs.nav-justified > li > a{
    border-radius: 0 !important;
}
.nav-tabs > li > a{
    color: white !important;
    background-color: #1E1F1C !important;
    border: 1px solid #1E1F1C !important;

}


.nav-tabs > li.active a{
    color: #1E1F1C !important;
    background-color: white !important;
    border: 1px solid white !important;
}

.mostra{
    display: block;
}

.nascondi{
    display: none;
}

.badge{
    background-color: #C9302C !important;
}

div.boxtitle{
    background-color: #1E1F1C;
    padding: 10px 15px;
    color: #FFFFFF;
}

div.boxtitle a{
    color: #FFFFFF !important;
}

ul.userinfo{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
}

ul.userinfo li.value{
    margin-bottom: 4px;
}

.grey{
    color: #868686;
}

table.table-userinfo td, table.table-userinfo th, table.table-userinfo tr{
    border: 0 !important;
    padding: 0 !important;
}

table.table-userinfo tr:nth-child(odd){
    color: #868686;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.7em;
}