div.nopadding{padding: 0;}
div.forminput{
   background-color: #ffffff;
   border: 1px solid #ccc;
   padding: 1px 10px 0 10px; 
   color: #A5A5A5;
   font-size: 12px;
   line-height: 1.5;
}
.nomargintop{ margin-top: 0; }
div.nobordertop{ border-top: 0; }
div.forminput select{color: #676767;}
input.noborderbottom{ border-bottom: 0; }

