@import url('https://fonts.googleapis.com/css?family=Raleway:300,500');
/* MP */
div.balloon-left{
    display: inline-block;
    background-color: #212121 !important;
    padding: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    max-width: 95%;
}
div.balloon-right{
    display: inline-block;
    background-color: #3E3F3A !important;
    padding: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    float: right;
    max-width: 95%;
}

.vertical-align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* nz element (nerdz element)*/
.nz-right-sidebar{
    margin-top: 15px;
}

.nz-left-sidebar{
    margin-top: 2px;
    padding: 13px;
}

/* HOME META */

.list-group-item-black, .list-group-item-black-last, .list-group-item-black-last-description {
    background-color: #212121 !important;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}

.list-group-item-black, .list-group-item-black-last{
    border-top: 1px solid #3e3f3a !important;
    color: #848484;
}

.list-group-item-black-last-description{
    border-top: 0 !important;
}

#informationlist > ul {
    border-top: 1px solid #3e3f3a !important;
    border-radius: 0;
}
/* NEW CSS RULES*/
/* BODY */
body{
    font-family: 'Raleway', sans-serif;
    margin-top: 64px;
}
/* BASE COLORS */

.color-1{ color: #131415 !important; }

.color-2{ color: #3a3a3a !important; }

.color-3{ color: #a5a5a5 !important; }

.color-4{ color: #cdc7c7 !important; }

.color-success{ color: #93C54B !important; }

.color-alert{ color: #D9534F !important; }

.bg-color-1{ background-color: #131415 !important; }

.bg-color-2{ background-color: #3a3a3a !important; }

.bg-color-3{ background-color: #a5a5a5 !important; }

.bg-color-4{ background-color: #cdc7c7 !important; }

.bg-color-success{ background-color: #93C54B !important; }

.bg-color-alert{ background-color: #D9534F !important; }

.link-color-4 a{ color: #cdc7c7 !important; }
/* COMMON */

.uppercase{ text-transform: uppercase;}

.no-margin-bottom{ margin-bottom: 0 !important;}
.no-margin{ margin: 0 !important; }
.no-padding-left{ padding-left: 0 !important; }
.no-padding-right{ padding-right: 0 !important; }
.no-padding{ padding: 0 !important; }
.border{border: 1px solid !important;}
.border-bottom{ border-bottom: 1px solid; }
.border-left{ border-left: 1px solid;}

.float-left{ float: left; }

.font-weight-light{ font-weight: 300; }
.font-weight-bold{ font-weight: 500; }

/* NO-BOOTSTRAP-BORDER-RADIUS */
button, .btn, .form-control, .input-group-addon { border-radius: 0 !important }

/* HEADER */

@media screen and (max-width: 991px) { #searchrow{ padding: 0; width: 100%; margin: 0; } } /* search row for mobile */

a.nav-link.active{
    font-weight: bold;
}

span.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(165, 165, 165, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>") !important;
}

.badge-notify{
    position:relative;
    top: -10px;
    left: -5px;
}
