#site_title {
    color: #000;
    margin: 0 auto 1.5% auto;
    width: 100%;
    background-color: #AFAFAF;
    display: block;
    overflow: hidden;
}

#site_title a:visited, #site_title a:active, #site_title a:link, .nerdz_comments a:hover, .nerdz_comments a:visited, .nerdz_comments a:active, .nerdz_comments a:link, #footer_main a:visited, #footer_main a:active, #footer_main a:link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#title_left {
    display: inline;
    float: left;
    font-size: 200%;
    margin: 0.5%;
}

#footer_main {
    background-color: #AFAFAF;
    text-align: center;
    border-top: 1px #000 solid;
    bottom: 0px;
    clear: both;
    display: block;
    height: 24px;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

#footer_left {
    position: fixed;
    display: inline;
    bottom: 2px;
    left: 2px;
    text-align: left;
}

.nerdz_message > div.compressed, .news > div.compressed {
    max-height: 200px;
    overflow: hidden;
    width: 100%;
}

#notify_list {
    position: fixed;
    display: block;
    bottom: 24px;
    right: 0px;
    background-color: #000;
}

#notifycounter,#share,#bug_bar {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #FFF;
    padding-top: 4px;
    padding-bottom: 1px;
    color: #000;
    margin: 0%;
    border-left: solid 1.5px #000;
    height: 23px;
    width: 60px;
    text-align: center;
}

#share {
    right: 61px;
    font-size: 90%;
}

#bug_bar {
    left: 0px;
    width: 30px;
    border: 0px;
}

#main {
    word-wrap: break-word;
}
#postlist {
    margin-bottom: 4%;
    overflow: hidden;
}

#rightmenu {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 310px;
}

#leftmenu {
    color: #AFAFAF;
    margin-bottom: 10px;
}

#leftmenu li, #rightmenu li {
    margin-top: 3%;
}

#leftmenu .item {
    height: 21px;
}

#fast_nerdz {
    margin-bottom: 15px;
    overflow: hidden;
}

a:hover, a:visited, a:active, a:link, .qu_user a:visited, .qu_user a:active, .qu_user a:link, .atilda, .showcomments {
    color: #2370B6;
    cursor: pointer;
    text-decoration: none;
}

label, .qu_ico, .imglocked, .imgunlocked, .lurk, .unlurk, .selectlang, .projlang, .more, .bookmark, .unbookmark, *[class^="delcomment"] {
    cursor: pointer;
}

.more {
    background-color: #000;
}

input[type=checkbox] {
    transform: scale(0.8);
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

input, option, select, textarea, button, .page th, .follow, .unfollow {
    border: 0.5px #000 solid;
    text-align: left;
    background-color: #FFF;
    color: #000;
    border-radius: 2.5px;
}

button, input[type=submit], .page th, .title, .follow, .unfollow {
    padding-left: 1%;
    padding-right: 1%;
    border: 0.5px #000 solid;
    font-weight: bold;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
}

body {
    font-family: 'Dejavu Sans', 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: auto;
    Z-index: 0;
}

img {
    border: 0px none;
}

iframe {
    margin: auto;
    overflow: hidden;
}

html, #body {
    width: 100%;
    height: 100%;
}

.box,.hidden {
    margin: 5px auto 5px auto;
}

.more {
    position: relative;
    top: -12px;
    margin-bottom: -10px;
    padding-bottom: 5px;
    box-shadow: 0 0 25px #000;
    display: block;
}

.nitem {
    border-bottom: 1px solid #FFFFFF;
}

.qu_ico, .imglocked, .imgunlocked, .lurk, .unlurk, .bookmark, .unbookmark, .delcomment {
    float: right;
    margin-top: -5px;
    margin-left: 4px;
}

.delcomment {
    margin-top: auto;
}

.page {
    width: 99%;
    margin: auto;
}

.page table {
    margin: auto;
    width: 100%;
}

.page .intable {
    margin-top: 3%;
    width: 100%;
    margin-bottom: 3%;
}

.follow, .unfollow, .title, .page th, .more, .center-text {
    text-align: center;
}

.title {
    cursor: default;
}

.page th {
    width: 10%;
}

.nerdz_message, .nerdz_comments, .news {
    width: auto;
    background-color: #000;
    border-radius: 2.5px;
    font-size: 90%;
    overflow: visible;
    padding: 3px;
    border: 1px #FFFFFF solid;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.nerdz_comments {
    overflow: hidden;
}

.news {
    clear: left;
    color: #fff;
    border: 1px solid #FB3;
}

.nerdz_comments, .quote, .spoiler {
    border-color: #000;
    background-color: #BDBDBD;
    color: #000;
    margin-bottom: 8px;
}

.nerdz_comments br, .nerdz_message br {
    clear: both;
}

.quote {
    background-color: #FFFDD0;
    position: static;
    overflow: hidden;
}

.nerdz_date {
    display: inline;
    float: right;
    font-size: 85%;
}

.nerdz_date img {
    margin-top: 0;
}

.nerdz_thumbs, .revisions {
    font-size: 80%;
    display: inline;
    position: relative;
    bottom: 1px;
}

.nerdz_thumbsNumPos {
    color: #86DC33;
}

.nerdz_thumbsNumNeg {
    color: #FF3300;
}

.vote:hover, .revisions:hover {
    color: #FFFFA3;
    cursor: pointer;
}

.vote.up.voted {
    color: #00E600;
    cursor: pointer;
}

.vote.down.voted {
    color: #FF3300;
    cursor: pointer;
}

.nerdz_from {
    margin-bottom: 4px;
    overflow: hidden;
}

.nerdz_truncate {
    background-color: #FFF;
    text-align: center;
    width: 132px;
    color: #000;
    font-weight: bold;
}

.qu_main {
    margin-left: 3%;
    margin-right: 1%;
    width: 95%;
    border: solid #AFAFAF 1px;
    overflow: hidden;
}

.qu_main-collapse {
    max-height: 16px;
}

.img_frame, .yt_frame {
    clear: both;
    text-align: center;
    overflow: hidden;
    display: block !important;
    background-color: transparent;
    margin-top: .2em;
    cursor: pointer;
    border: 1px solid #FFF;
    width: 132px;
    height: 132px;
}

.img_frame span, .yt_frame span {
    height: 17px;
    display: block;
    background-color: #FFF;
    text-align: center;
    width: 132px;
    color: #000;
    font-weight: bold;
}

.img_frame img, .yt_frame img {
    display: block;
    max-height: 115px;
    max-width: 130px;
    margin: auto;
}

.img_frame-extended {
    display: auto;
    width: auto;
    height: auto;
    border: none;
    overflow: visible;
    max-width: 100%;
    max-height: 100%;
}

.img_frame.img_frame-extended img {
    float: left;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin-top: 0px !important;
}

.img_frame-extended span, .hidden {
    display: none;
}

.error {
    color: #FF0000;
    font-size: 80%;
    font-weight: bold;
}

.small {
    font-size: 75%;
}

.light {
    color: #777;
    padding-bottom: 2px;
}

.bold {
    font-weight: bold;
}

.curtext {
    font-style: italic;
}

.qu_user {
    background-color: #333;
    cursor: pointer;
}

pre {
    font-size: 12px;
    margin-top: 0;
}

.nerdz-code-wrapper {
    border-bottom: 1px solid;
    font-size: 110%;
    overflow-x: auto;
    overflow-y: hidden;
}

.nerdz-code-title {
    height: auto;
    padding-top: 1px;
    padding-left: 2px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-bottom: 4px;
}

.nerdz-code-text-version {
    float: right;
}

.prettyprint {
    padding: 3px 3px 3px 3px;
}

.follow-list, .follow-list-home {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}
.follow-list-home {
    padding:0;
}

.follow-list-item {
    width: 275px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #EEE;
}

.follow-list-item, .follow-list-item-home {
    float: left;
}
.follow-list-item-home {
    width:100%;
}

.follow-list-title {
    margin-bottom: 10px;
    font-size: 13px;
}

.follow-list-title-home {
    vertical-align: -0.5em;
}

.gravatar, .gravatar-home {
    float: left;
    display: block;
    width: 75px;
    height: 75px;
}

.gravatar-home {
    width: 32px;
    height: 32px;
}

.follow-list-container {
    margin-left: 90px;
}

.follow-list-container-home {
    margin-left: 36px;
}

/* menu */
ul.topnav {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    display: inline;
}

ul.topnav li ul.subnav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    width: 150px;
    float: right;
}

ul.subnav {
    position: absolute;
    top: 12px;
    right: 0px;
    z-index: 1;
}

ul.topnav li ul.subnav li {
    margin: 0;
    padding: 0;
    background-color: #333;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #444;
    clear: both;
    width: 150px;
    height: 16px;
    vertical-align: middle;
}

.downarrow, .rightarrow, .rightarrow-home {
    background: none repeat scroll 0 0 transparent;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    height: 8px;
    width: 8px;
    margin-left: 10px;
    transform: rotate(-45deg);
    outline: none;
    display: block;
}

.rightarrow-home, .rightarrow {
    margin: 4px 7px auto 0;
    float: left;
}

.rightarrow-home {
    margin: 2px 7px auto 2px;
}

.downarrow {
    transform: rotate(45deg);
}

.topright {
    float: right;
    margin-right: 2px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.bottomleft {
    float: left;
    margin-top: 3px;
    width: 10px;
    height: 10px;
}

.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    max-height: 200px;
    overflow: auto;
    z-index: 11110 !important;
}

.atwho-view .cur {
    background: #3366FF;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
    overflow: auto;
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

