#loginfrm{
    padding: 20px;
    border: 1px solid;
}

#captcha{
    max-height: 100%;
}

#captcha-box{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 5px;
    text-align: center;
    background-color: black;
}

/* FEED */

div.feed{
    max-height: 423px;
    overflow-y: scroll;
}


div.message{
    display: block;
    max-height: 50px;
    text-overflow: ellipsis;
    overflow:hidden;
}

hr.home-divider{
    width: 30%;
}

.message a.img_frame{
    display: none !important;
}