#loginfrm{
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#captcha{
    max-height: 100%;
}

#captcha-box{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 5px;
    text-align: center;
    background-color: black;
}

/* FEED */

div.feed{
    max-height: 423px;
    overflow-y: scroll;
}

.message{
    padding: 15px;
    background-color: #4f4f4f;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.message-content{
    display: block;
    max-height: 100px;
    text-overflow: ellipsis;
    overflow:hidden;
    text-align: justify;
}

.message:after{
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    border-top: 17px solid #4f4f4f;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}

.message:before{
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    border-top: 17px solid rgba(0,0,0,0.05);
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}

hr.home-divider{
    width: 30%;
}

.message a.img_frame{
    display: none !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #131415 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #131415 !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #131415 !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #131415 !important;
}